@{
    ViewBag.Title = "Shop Online";
    ViewBag.SeoDescription = "Shop Online";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="/Content/assets/styles/categories_responsive.css">
<!-- Slider -->

<div class="main_slider">
    <div class="container fill_height">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="/products"> <img class="d-block w-100" src="Content/assets/images/hom1.png" alt="First slide"></a>
                       
                    </div>
                    <div class="carousel-item">
                        <a href="/products"> <img class="d-block w-100" src="Content/assets/images/hom2.png" alt="Second slide"></a>
                           
                    </div>
                    <div class="carousel-item">
                        <a href="/products"><img class="d-block w-100" src="Content/assets/images/hom3.png" alt="Third slide"></a>
                        
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
    </div>
</div>

<!-- Banner -->

<!-- New Arrivals -->

<div class="new_arrivals">
    <div class="container">
        @Html.Action("MenuArrivals", "Menu")
    </div>
</div>

<!-- Deal of the week -->


<!-- Best Sellers -->
@Html.Action("Partial_ProductSales", "Products")
<!-- Benefit -->

<!-- Blogs -->
@Html.Action("Partial_News_Home", "News")