<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://doankute613-001-site1.etempurl.com/</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win5055.site4now.net:8172/MsDeploy.axd?site=doankute613-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>doankute613-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>doankute613-001</UserName>
    <_SavePWD>true</_SavePWD>
    <_TargetId>IISWebDeploy</_TargetId>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5103.site4now.net;Initial Catalog=db_a97e6a_laptops;User ID=db_a97e6a_laptops_admin;Password=Doan@123456" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WebBanHangOnline.Models.ApplicationDbContext, WebBanHangOnline" MigrationConfiguration="WebBanHangOnline.Migrations.Configuration, WebBanHangOnline" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5103.site4now.net;Initial Catalog=db_a97e6a_laptops;User ID=db_a97e6a_laptops_admin;Password=Doan@123456</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>